{% extends '::base.html.twig' %}
{% block title %}
Dictionnaire API
{% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-4">
		
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Voyelles</h3></div>
			<div class="panel-body">
				<div class="col-md-4">
					<table class="table table-bordered">
						{% for voyelle in voyelles if voyelle.numCol == 1 %}
						<tr>
							<td>
								<span class="phoneme">{{ voyelle.phoneme|raw }}</span><br>
								<span class="mot">{{ voyelle.mot|raw }}</span>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<div class="col-md-4">
					<table class="table table-bordered">
						{% for voyelle in voyelles if voyelle.numCol == 2 %}
						<tr>
							<td>
								<span class="phoneme">{{ voyelle.phoneme|raw }}</span><br>
								<span class="mot">{{ voyelle.mot|raw }}</span>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<div class="col-md-4">
					<table class="table table-bordered">
						{% for voyelle in voyelles if voyelle.numCol == 3 %}
						<tr>
							<td>
								<span class="phoneme">{{ voyelle.phoneme|raw }}</span><br>
								<span class="mot">{{ voyelle.mot|raw }}</span>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}